{% extends 'common/base.html' %}
{% block title %}- Note{% endblock title %}
{% block content %}
<a href="{% url 'notes' %}" class="bx bx-arrow-back text-dark"> Go back</a>
<hr class="mt-4 mb-4">
<section class='text-center bg-light'>
    <div class="p-0 mt-5">
        <div class="m-3">
            <h2>{{ note.title }}</h2>
        </div>

        <hr class="p-0 m-0">

        <p class="description m-5 p-5">
            {{ note.description }}
        </p>

        <hr>
    </div>
</section>
{% endblock content %}